body
{
    background-color: rgb(85, 83, 83);
}

h1
{
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
}

.N
{
    width: 200px;
    height: 70px;
    background-color: #4cc9ca;
    position: relative;
    top: 300px;
    left: 300px;
}

.S
{
    width: 200px;
    height: 70px;
    background-color: #4cc9ca;
    position: relative;
    top: 300px;
    left: 300px;
}

.N:hover
{
    cursor: pointer;
    top: 100px;
    left: 700px;
}


.he
{
    font-family: cursive;
}

/*Settings da pagina Parabens*/

body
{
    background-color: rgb(66, 66, 66);
}

.Env
{
    width: 1300px;
    height: 400px;
    padding-left: 50px;
    background: rgb(46, 46, 46);
    display: grid;    
}

.vlt
{
    width: 30px;
    height: 10px;
    padding: 8px;
    padding-top: 5px;
    background-color: rgb(37, 33, 33);
}

.nam
{
    position: relative;
    left: 500px;
    top: 5pc;
}

h3
{
    position: fixed;
    left: 50px;
}